<!DOCTYPE html>
<html>
<head>
    <title>forms</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="hello.js"></script>

</head>
<body>

{{#each imgs}}
<div>
    <img src="{{url}}">
</div>
{{/each}}


</body>
</html>